<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>

</head>

<body>

    <div class="container">
        <div class="card">
            <form method="POST" action="/login" class="box">
                <h1>Login</h1>
                <input type="text" name="email" placeholder="Username" required>
                <input type="password" name="password" placeholder="Password" required>
                <input type="submit" value="Login">
                <a href="/developer">Contact</a>
            </form>
        </div>
    </div>
</body>

</html>